:root {

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
        
    --dark-gray: hsl(0, 0%, 59%)
    --font-family: 'Kumbh Sans', sans-serif;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}